<h1><%= @run.name %> のランニング記録の編集ページ</h1>

<%= form_with(model: @run, local: true) do |f| %>
  <%= f.label :date, '日付' %>
  <%= f.text_field :date %>
  
  <%= f.label :name, '名前' %>
  <%= f.text_field :name %>

  <%= f.label :distance, '走った距離' %>
  <%= f.text_field :distance %>
  
  <%= f.submit '投稿' %>
<% end %>

<%= link_to '一覧に戻る', runs_path %>